@import "../../flex"

#map-control
    margin-bottom: 0.5em
    set-flex()
    set-flex-order-column()
    set-flex-justify-start()
    set-flex-align-center()

#map-control-row
    margin-bottom: 0.1em
    set-flex()
    set-flex-order-row()
    set-flex-justify-start()
    set-flex-align-center()

/* "height" for "#my-google-map" will be later modified. */
#my-google-map
    height: 100vh
    width: 100%
