set-flex()
    display: flex

set-flex-order-row(wraptype = nowrap)
    flex-flow: row wraptype

set-flex-order-column(wraptype = nowrap)
    flex-flow: column wraptype

set-flex-justify-space-around()
    justify-content: space-around

set-flex-justify-center()
    justify-content: center

set-flex-justify-start()
    justify-content: flex-start

set-flex-justify-end()
    justify-content: flex-end

set-flex-align-stretch()
    align-items: stretch

set-flex-align-center()
    align-items: center

set-flex-align-start()
    align-items: flex-start

set-flex-align-end()
    align-items: flex-end

set-flex-basis(size)
    flex-basis: size

set-flex-grow(size)
    flex-grow: size

set-flex-shrink(size)
    flex-grow: size
